.custom-form {
    background-color: #a3525d;
    top: 20vh;
    border: 2px solid #333533;
    border-radius: 5%;
    padding: 2% 5%;
}

hr {
    background-color: #fdca40;
}

.form-center {
    left: 0;
    right: 0;
    margin: auto;  
}

.books-table {
    background-color: #a3525d;
    color: #fdca40;
}
