{% extends "base.html" %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mx-auto border-dark my-2 text-center" style="max-width: 500px;">
        <div class="row no-gutters">
            <div class="col-md-4 mx-auto my-auto">
                <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" class="card-img">
            </div>
            <div class="col-md-8 my-auto">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">by {{ book.author }}</p>
                    <p class="card-text">published {{ book.year }}</p>
                    <p class="card-text"><small class="text-dark">ISBN: {{ book.isbn }}</small></p>
                    <p class="card-text">Rating: {{ rating }}</p>
                    <p class="card-text">
                        <a class="text-dark" href="https://www.goodreads.com/search?q={{ book.title }}"><u>GoodReads</u></a>: 
                        {{ gr_rating[0] }}
                        <span class="text-muted">[{{ gr_rating[1] }}]</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <br>
        <h3><strong>Reviews</strong></h3>
        <hr>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="lead text-center text-danger">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group text-center">
                <label class="lead" for="reviewForm">Write your review</label>
                {{ form.review }}
            </div>
            <label for="ratingForm">Rate it:</label>
            <div class="form-group d-flex justify-content-between">
                <div>
                {{ form.rating }}
                </div>
                <button type="submit" class="btn btn-warning" id="reviewForm">Post</button>
            </div>
        </form>
        <hr>
        {% if reviews %}
            {% for review in reviews %}
                <div class="card text-center mb-2">
                    <div class="card-header">
                        <strong><em>{{ review.username }}</em></strong> 
                        rated it {{ review.rating }}
                    </div>
                    <div class="card-body lead">
                        {{ review.review }}
                    </div>
                    <small class="text-muted mb-1">{{ review.createtime }}</small>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
