{% extends "base.html" %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-dark my-3 mx-auto text-center" style="max-width: 18rem;">
        <div class="card-header custom-card">
            <strong>{{ book.title }}</strong>
        </div>
        <div class="card-body">
            <div class="card-title lead">
                {{ book.author }}
            </div>
            <div class="text-muted">
                {{ book.year }}
            </div>
        </div>
        <div class="card-footer custom-card text-light">
            {{ book.isbn }}
        </div>
    </div>
</div>
{% endblock %}