{% extends "base.html" %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}

{% block content %}
<div class="container text-center">
    <br>
    <h3><strong>Find The Book</strong></h3>
    <hr>
    <div class="input-group">
        <form action="" method="post">
        <input type="text" class="form-control" placeholder="ISBN, Title or Author" name="search" 
        aria-label="Book search" aria-describedby="search-form">
        <div class="input-group-append">
            <button class="btn btn-outline-warning" type="button" id="search-form">Search</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}
